[submodule "submodules/tcpip-lite"]
	path = submodules/tcpip-lite
	url = https://bitbucket.microchip.com/scm/mfml/tcpip-lite.git
[submodule "submodules/ethernet-encx24j600"]
	path = submodules/ethernet-encx24j600
	url = https://bitbucket.microchip.com/scm/mfml/ethernet-encx24j600.git
[submodule "submodules/ethernet-driver-8bit-interface"]
	path = submodules/ethernet-driver-8bit-interface
	url = https://bitbucket.microchip.com/scm/mfml/ethernet-driver-8bit-interface.git
[submodule "submodules/tcpip-lite-applications"]
	path = submodules/tcpip-lite-applications
	url = https://bitbucket.microchip.com/scm/m8a/tcpip-lite-applications.git
